@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #4D4D29;
  --secondary-color: #c0dbea;
  --text-dark: #020617;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  padding-inline: 1rem;
  display: grid;
  overflow: hidden;
}

.container__content {
  width: 100%;
  padding-block: 2rem;
  max-width: 400px;
  margin-inline: auto;
  text-align: center;
} 

.container__content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-dark);
}

.logins {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logins a {
  padding: 0.5rem 2.5rem;
  background-color: #4D4D29;
  color: white;
  border-radius: 5rem;
  text-decoration:none;
  margin-right: 1rem;
}

.logins a.admin {
  margin-right: 2rem;
}

.container__content p {
  color: var(--text-light);
  text-align: center;
}

.container__content p a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color);
}

.container__image {
  position: relative;
  isolation: isolate;
  display: grid;
}

.container__image::before {
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--secondary-color);
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.52), #4D4D29),url(/assets/srmap11.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  z-index: -1;
}

@media (width > 768px) {
  .container {
    grid-template-columns:
      minmax(1rem, 1fr)
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, calc(var(--max-width) / 2))
      minmax(1rem, 1fr);
  }

  .container__content {
    margin-inline-start: unset;
    grid-area: 1/2/2/3;
    align-self: center;
  }

  .container__image {
    padding-block: 2rem;
    grid-area: 1/3/2/4;
  }
}