*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}
.log img{
    width: 150px;
    margin: 10%;
}
.sidep{
    height: 100vh;
    width: 15%;
   background-color:rgb(43, 43, 22);
   color: white;
}
.sidep ul li{
    font-size: 25px;
    padding: 7px;
   margin: 20px;
   list-style: none;
   
}
.sidep ul li:hover{
    border-radius: 10px;
   background-color:rgb(54, 54, 30) ;
}
.mainp{
    width: 85%;
}
.det1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93%;
}
.nav{
    display: flex;
    width: 100%;
    text-align: center;
    background-color: rgb(77, 77, 41);
    height: 50px;
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}
.details{
    width: 50%;
    height: 65%;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, #313c13 10%,  rgb(77, 77, 41) 100%);
    color: white;
    background-image: url("https://media.istockphoto.com/id/1332097112/photo/the-black-and-silver-are-light-gray-with-white-the-gradient-is-the-surface-with-templates.jpg?s=612x612&w=0&k=20&c=3U9qpvN2znHbuJdkXiKHRLocNX01ng0AEtmmSyXlXec=");
    background-repeat: no-repeat;
    background-size: cover;
}
.details h2{
    padding: 10px;
    margin: 20px;
    font-size: 30px;
}
.details div{
    padding: 15px;
    font-size: 20px;
}
.act{
    background-color: rgb(54, 54, 30);
}
.divs{
    display: flex;
    flex-direction: row;
}
.qrm{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr{
    background-image: url("https://res.cloudinary.com/do5e8qwxk/image/upload/v1713551862/qrrr_bhtn41.jpg");
    background-size: cover;
    width: 80px;
    height: 80px;
}